@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
button {
    border: none;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    border: none;
    outline: none;
  }
.button_request {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: #812DAB;
    background-color: transparent;
    border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}
.button_request:hover {
    border-color: #812DAB;
}