@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
button {
    border: none;
    text-decoration: none;
    text-transform: none;
    text-align: center;
    border: none;
    outline: none;
  }
.button_request {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: #812DAB;
    background-color: transparent;
    border-color: #812DAB;
    border-width: 10px;
}
.button_request:hover {
    border-color: #812DAB;
}