.App {
  text-align: center;
  background-color: #050203;
  height: 500px;
  margin-top: -10px;
  overflow: scroll;
}
body {
  background-image: url("./images/pinkishOctopus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;  
}
.top-wave {
  margin-top: 10%;
}